{% extends 'base.html' %}
{% block container %}

  <main class="container mt-3">
    <div class="row mt-5">
      <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
          <form action="" method="POST" novalidate class="card mb-3">
              <div class="card-body text-center pt-5">
                  <img src="{{ tutor.picture }}" class="mb-3" width="195" alt="">
                  <h2 class="h5 card-title mt-2 mb-2">{{ tutor.name }}</h2>
                  <p class="my-1">Запись на пробный урок</p>
                  <p class="my-1">{{ day|capitalize }}, {{ time }}</p>
              </div>
              <hr/>
              {{ form.hidden_tag() }}
              <div class="card-body mx-3">
                  <div class="row">
                      {{ form.day(class="form-control", type="hidden", value=day) }}
                      {{ form.time(class="form-control", type="hidden", value=time) }}
                      {{ form.tutor_id(class="form-control", type="hidden", value=tutor_id) }}
                  </div>
                  {{ form.name.label(class="mb-1 mt-2") }}
                  {{ form.name(class="form-control") }}
                  {% if form.name.errors %}
                  <p style="color: red;">{{ form.name.errors[0] }}</p>
                  {% else %}
                  <p> </p>
                  {% endif %}
                  {{ form.phone.label(class="mb-1 mt-2") }}
                  {{ form.phone(class="form-control") }}
                  {% if form.phone.errors %}
                  <p style="color: red;">{{ form.phone.errors[0] }}</p>
                  {% endif %}
                  {{ form.submit(class="btn btn-primary btn-block mt-4") }}
              </div>
          </form>
      </div>
    </div>
  </main>
{% endblock %}