{% extends 'base.html' %}
{% block container %}

<main class="container mt-3">
  <div class="card my-4 mx-auto">
    <div class="card-body m-2 m-md-4">
      <div class="row">
        <div class="col-5"><img src="{{ tutor.picture }}" class="img-fluid" alt=""></div>
        <div class="col-7">
          <h1 class="h2">{{ tutor.name }}</h1>
         <p>{% for goal in tutor.goals.split() %}<a href="/goal/{{ goal }}" class="badge badge-secondary mr-2"> {{ goal|capitalize }} </a>{% endfor %}Рейтинг: {{ tutor.rating }} Ставка: {{ tutor.price }} / час</p>
          <p>{{ tutor.about }}<br> <br>
        </div>
      </div>
    </div>
    <div class="card-body m-2 m-md-4">
      <h2 class="h5 mb-4">Записаться на пробный урок</h2>
      <table class="table">
        {% for day in free.keys() %}
        <tr>
          <th> {{ day|capitalize }}</th>
          {% for time in free.get(day) %}
          <td><a href="/booking/{{ tutor.id }}/{{ day }}/{{ time }}" {% if free.get(day).get(time) %}class="btn btn-success btn-sm btn-block "{% else %}class="btn btn-dark btn-sm disabled btn-block "{% endif %}>{{ time }}</a></td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>

    </div>
  </div>
</main>
{% endblock %}