{% extends 'base.html' %}
{% block container %}

<main class="container mt-5">
  <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
    <form action="/request_done/" method="POST" class="card mb-5">
      <div class="card-body text-center pt-5">
        <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
        <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
      </div>
      <hr>
      <div class="card-body mx-3">
        <div class="row">
          <div class="col">
            <p>Какая цель занятий?</p>
            <div class="form-check ">
                {{ form.goal }}
            </div>
          </div>
          <div class="col">
            <p>Сколько времени есть?</p>
            <div class="form-check">{{ form.time(class="form-check-input") }}</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="card-body mx-3">
        {{ form.name.label(class="mb-1 mt-2") }}
        {{ form.name(class="form-control", placeholder="Введите имя") }}
        {{ form.phone.label(class="mb-1 mt-2") }}
        {{ form.phone(class="form-control", placeholder="Введите телефон") }}
        {{ form.submit(class="btn btn-primary btn-block mt-4") }}
      </div>
    </form>
  </div>
</main>
{% endblock %}